/*{}*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1{
   
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 90px;
color: #0C4A60;

}

h2{
    
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
color: #0C4A60;
}

p{
font-weight: 400;
font-size: 18px;
color: #0C4A60;
}

h4{
   
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 90px;
color: #0C4A60;

}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;    
}

.logo{
    color: #0c4a60;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 60px;
    padding: 60px;
     
    
}

.logo a{
    text-decoration: none;
    color: #0c4a60;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.nav-links li{
    list-style: none;
    padding: 60px 5px;
   
}

.nav-links a{
    color: #0c4a60;
    text-decoration: none;
    letter-spacing: 0.12em;
    font-weight: 400;
    font-size: 24px;
}

.nav-links li a{
    display: block;
}

a:hover{
    color: #ef6c33;
}

.button a{
    padding: 5px 20px;
    border: 2px solid #ef6c33;
    border-radius: 50em;
    color: #ef6c33;
    
}

.button a:hover{
    background: #ef6c33;
    padding: 5px 20px;
    border: 2px solid #ef6c33;
    border-radius: 50em;
    color: white;
}

.headline{
    margin: 50px;
    margin-bottom: 0;
    text-align: center;
}


/*form*/

  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ef6c33;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ef6c33;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ed5b1b;
}

.container {
  float:left;
  width: 52%;
  border-radius: 10px;
  background-color: #f8c4ad;
  padding: 25px;
  margin: 50px;
  margin-right: 0;
}

label{
    color: #0C4A60;
}
/*Image*/

.WCYD{
    float: right;
    width: 36%;
    margin: 50px;
    border: 2px solid #ef6c33;
    border-radius: 10px;
    padding: 25px;
}

.WCYD li{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #0C4A60;
} 


li{
    list-style: none;
}


.ambass-button{
    margin: 50px;
    margin-top: 0;
    float: right;
    width: 36%;
    
}

.our-mission2 a{
    padding: 6px 20px;
    border:none;
    text-decoration: none;
    color: #ef6c33;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.12em;
    background: none;
    padding: 6px 20px;
    border: 2px solid #ef6c33;
    border-radius: 10px;    
}


.our-mission2 a:hover{
    background: #ef6c33;
    text-decoration: none;
    padding: 5px 20px;
    border: 2px solid #ef6c33;
    border-radius: 10px;
    color: white;
}






















